{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('formation') }}
{% endblock %}
{% block body %}
<main>
    <header class="intro-01">
        <div class="card_course">
            <div class="info-dis">
                <div class="icon-dis">
                    <i class="fa-solid {{ formation.discipline.icon }}"></i>
                </div>
                <h3>{{ formation.discipline.name }}</h3>
            </div>
            <h1>{{ formation.name }}</h1>
            <p>{{ formation.description }}</p>
        </div>
        <img src="{{ formation.urlImage }}" alt="formation" class="img-intro-02" loading="eager">
    </header>
    <section class="intro-02">
        <div class="intro-info">
            <h1>A PROPOS</h1>
            <p>La Oxegen School propose des formations à temps plein et en alternance.
                Du débutant déterminé au pro avancé, repousser vos limites à travers 
                la formation de votre choix.</p>
        </div>
        <div class="intro-container">
            <div class="intro-card">
                <div class="icon-dis">
                    <i class="fa-solid fa-hourglass"></i>
                </div>
                <h3>{{ formation.duration }}</h3>
            </div>
            <div class="intro-card">
                <div class="icon-dis">
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
                <h3>{{ formation.degree }}</h3>
            </div>
            <div class="intro-card">
                <div class="icon-dis">
                    <i class="fa-solid fa-calendar-alt"></i>
                </div>
                <h3>{{ formation.date|date('M/y') }}</h3>
            </div>
            <div class="intro-card">
                <div class="icon-dis">
                    <i class="fa-solid fa-map-marker-alt"></i>
                </div>
                <h3>{{ formation.location }}</h3>
            </div>
            <div class="intro-card">
                <div class="icon-dis">
                    <i class="fa-solid fa-coins"></i>
                </div>
                <h3>{{ formation.financingSupport }}%</h3>
            </div>
        </div>
    </section>
    <section class="regis-container">        
        <h2>Inscrivez vous à cette formation </h2> 
        <div class="form-regis">
            <form action="#" method="post" novalidate class="form">
                {{ form_start(form) }}
                {% if form.message.vars.errors|length > 0 %}
                    {% for error in form.message.vars.errors %}
                        <span class="error-message">{{ error.message }}</span>
                    {% endfor %}
                {% endif %}
                {{ form_widget(form) }}
                <div class="button">
                    <input id="btn-contact" type="submit" value="S'inscrire">
                </div>
                {{ form_end(form) }}
            </form>
        </div>
    </section>
</main>
{% endblock %}
