{% extends 'base.html.twig' %}

{% block title %}Discipline{% endblock %}

{% block body %}

    <!-- debut de formation main  -->
    <main class="main">
        <section class="section grid">
            <h1 class="formation-title">Nos formation en Informatique</h1>
            
            <!-- debut de formation components -->

            <ul class="discipline-list">
                {% for course in courses %}
                    <li class="discipline-presentation">
                        <div class="discipline-components">
                            <!--debut de formation text qui contient title description et bouton  -->
                            <div class="formation-text">
                                <span> <img src="assets\img\img\frame-39978-3.png" width="50px" height="50px" alt="">  <h2>{{ course.name }}</h2></span>
                                <p>
                                    {{ course.description}}.
                                </p>
                                <a href="/formation/{{ course.id}}">Postuler</a>
                            </div>
                            <div class="formation-infos">
                                <ul>
                                    <li><i class="ri-hourglass-line"></i>{{ course.duration}}</li>
                                    <li><i class="ri-map-pin-line"></i>{{ course.location}}</li>
                                    <li><i class="ri-calendar-2-line"></i>{{ course.date|date('Y-m-d H:i:s') }}</li>
                                    <li><i class="ri-graduation-cap-line"></i>{{ course.degree}}</li>
                                    <li><i class="ri-money-euro-circle-line"></i>{{ course.FinancingSupport}} % Financée</li>
                                </ul>
                            </div>
                        </div>
                        <!-- fin de formation components -->
                    </li>
                {% endfor %}
                </ul>
           

        </section>
    </main>
    <!-- fin de formation main  -->





{% endblock %}
