{% extends 'base.html.twig' %}

{% block title %}Discipline{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('discipline') }}
{% endblock %}
{% block body %}
    {% include 'components/home/hero.html.twig' %}
    <!-- debut de formation main  -->
    <main class="main">
        <div class="course-filters">
            <form class="course-filters" action="{{ app.request.uri }}" method="GET">
                <a href="/discipline" class="filter-button {% if disciplineId == 0 %}active{% endif %}">All <i class="fa-solid fa-circle-check"></i></a>
                {% for discipline in disciplines %}
                    <button class="filter-button {% if disciplineId == discipline.id %}active{% endif %}" name="discipline_id" value="{{ discipline.id }}">
                        {{ discipline.name }}
                        <i class="fa-solid fa-circle-check"></i>
                    </button>
                {% endfor %}
            </form>
        </div>
        <section class="section grid">
            <h1 class="formation-title">Nos formation</h1>
            
            <!-- debut de formation components -->

            <ul class="discipline-list">
                {% for course in courses %}
                    <li class="discipline-presentation">
                        <div class="discipline-components">
                            <!--debut de formation text qui contient title description et bouton  -->
                            <img src="{{ course.urlImage }}" alt="">  
                            <div class="discipline-text">
                                <h2>{{ course.name }}</h2>
                                <p>
                                    {{ course.discipline.name}}.
                                </p>
                                <a href="/formation/{{ course.id }}">Postuler</a>
                            </div>
                            <div class="formation-infos">
                                <ul>
                                    <li><i class="ri-hourglass-line"></i>{{ course.duration}}</li>
                                    <li><i class="ri-map-pin-line"></i>{{ course.location}}</li>
                                    <li><i class="ri-calendar-2-line"></i>{{ course.date|date('M/y') }}</li>
                                    <li><i class="ri-graduation-cap-line"></i>{{ course.degree}}</li>
                                    <li><i class="ri-money-euro-circle-line"></i>{{ course.FinancingSupport}} %</li>
                                </ul>
                            </div>
                        </div>
                        <!-- fin de formation components -->
                    </li>
                {% endfor %}
                </ul>
           

        </section>
    </main>
    <!-- fin de formation main  -->





{% endblock %}
