{% extends 'base.html.twig' %}
{% block title %}Contact : infos, adresse, equipe oxygen school{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
        {{ encore_entry_link_tags('footer') }}

{% endblock %}

{% block body %}
<main>
<div class="contact">
        <div>
            <div>
                <section class="section">

                    <h1 class="center">Oxygen School : Qui sommes-nous</h1>
                    <p class ='parag' >La mission d’Oxygen School est de rendre l’éducation accessible à tous. 
                    Nous sommes un centre de formation qui permet à des milliers d’individus 
                    partout en France de développer leurs compétences professionnelles et de se former aux métiers qui recrutent.</br>
                    
                        <div class="info"> 

                                    <address>
                                    <div class="coord">Contact d'Oxygen school : </div>
                                    </br>
                                    <div class="coord">
                                        Adresse : </div>
                                        68 av philipe augueste 75011 paris<br>
                                        <br><div class="coord">Email : </div><a>contact@oxygen-school.com</a><br> 
                                        <br><div class="coord">Téléphone : </div>
                                        Fix : 01 50 22 32 23 <br>
                                        Mobile : 01 50 22 32 23 <br>
                                    </div>
                                </address>
                        </div>
                </section>          
            </div>
            <h2 class="center">Contactez-nous</h2>    
            <p class="parag">Vous avez besoin de renseignements supplémentaires concernant nos formations ?, n'hésitez pas à nous contacter. Nos conseillers formations sont disponibles du
            lundi au vendredi, de 9h à 19h.</p>
         <div id="formContact">
    
            </div>
            <form method="POST" action="" class="form">
                <fieldset>
                        <legend>Votre prénom : *</legend>
                    <input id="firstName" class="input" type="text" name="firstName" placeholder="Marc"/>


                    </fieldset>


                <fieldset>
                 <legend>Votre nom : *</legend>
                    <input id="lastName" class="input" type="text" name="lastName" placeholder="Ducas"/>

                </fieldset>

                
                	<fieldset>
                 <legend>Votre email : *</legend>                    
                 <input id="email" class="input" name="email" placeholder="marc@gmail.com"/>

                </fieldset>

                
                <fieldset>
                <legend>Votre numéro de téléphone : *</legend>
                	  <input id="phone" class="input" type="text" name="phone" placeholder="0160606060"/>

                    </fieldset>

                    <fieldset>
                 <legend>Votre message : *</legend>
                 <textarea id="message" class="input" type="text" rows="5" name="message"/></textarea>

                </fieldset>

                <div class="button">
                    <input type="submit" value="Envoyer">
                </div>
            </form>
             
        <h2 class="center">L'équipe d'Oxygen School</h2>
        <p class ='parag'>Oxygen School est un centre active et unique en son genre. Créé et porté par trois développeurs web.</br>
        Chaque cursus de formation constitue une opportunité d'acquérir une expérience pratique et de développer votre créativité. Nous sommes déterminés à vous 
        préparer à une carrière réussie en vous fournissant les compétences et les connaissances essentielles pour répondre aux besoins du marché. 
  
        <div class="team">
            <div class="member-cards">
                <div class="img1">
                    <img src="{{ asset('build/images/asma.png') }}" alt="Asma Jaballah">
                </div>
                <h3>Asma Jaballah</h3>
                <p class="text">Titulaire d’un Mastère 2 en BI et ayant 5 ans d'expérience en SEO. Passionnée du developpement,  je suis
                actuellement en formation intensive En PHP afin d'accélérer le développement de mes compétences en ce domaine. </p>
            
                <span> 
                    <div class="img1">
                        <a href="https://github.com/assma8jaballah"><img src="{{ asset('build/images/github.png') }}" alt="github Asma"></a>
                        <a href="https://www.linkedin.com/in/asma-jaballah/"><img src="{{ asset('build/images/linkedin1.png') }}" alt="Linkedin ASMA"></a>
                    </div>
                </span>

            </div>

            <div class="member-cards">
                <div class="img1">
                    <img src="{{ asset('build/images/yazid.png') }}" alt="photo de yazid">
                </div>

                <h3>Yazid Sefsaf</h3>
                <p class="text">Titulaire d’un Mastère 2 en BI et ayant 5 ans d'expérience en SEO. Passionnée du developpement,  je suis
                actuellement en formation intensive En PHP afin d'accélérer le développement de mes compétences en ce domaine. </p>
           
                <span> 
                    <div class="img1">
                        <a href="https://github.com/yazidsef"><img src="{{ asset('build/images/github.png') }}" alt="github yazid"></a>
                        <a href="https://www.linkedin.com/in/yazid-sefsaf-90602a207/"><img src="{{ asset('build/images/linkedin1.png') }}" alt="Linkedin yazid"></a>
                    </div>
                </span>

            </div>


            <div class="member-cards">
                <div class="img1">
                    <img src="{{ asset('build/images/dinhuy.png') }}" alt="photo de dinhuy">
                </div>

                <h3>DinhHuy Trinh</h3>
                <p class="text">Titulaire d’un Mastère 2 en BI et ayant 5 ans d'expérience en SEO. Passionnée du developpement,  je suis
                actuellement en formation intensive En PHP afin d'accélérer le développement de mes compétences en ce domaine. </p>
           
                <span> 
                    <div class="img1">
                        <a href="https://github.com/LaserHuy"><img src="{{ asset('build/images/github.png') }}" alt="github dinhuy"></a>
                        <a href="https://www.linkedin.com/in/huytrinhlaser/"><img src="{{ asset('build/images/linkedin1.png') }}" alt="Linkedin dinhuy"></a>
                    </div>
                </span>
            </div>
        </div>
      </div>
   </div> 
   </main>
{% endblock %}